#about-section {
  .image {
    height: 550px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* For devices 1199px and larger: */
@media only screen and (max-width: 1199px) {
  #about-section {
    .image-wrap {
      display: flex;
      justify-content: center;
    }

    .image {
      width: 400px;
      height: 400px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}